.tvShow-wrapper {
  padding: 30px 220px;
}

.tvShow-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 22px;
  /* grid-template-columns: auto auto auto auto auto; */
  margin-right: 10;
}

.tvShow-list {
  margin-bottom: 30px;
  width: 230px;
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-between;
}
